.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.create-contact {
  margin-left: 50px;
}
.react-virtualised{
  margin-left: 5px;
}
img {
  width: 40px;
  margin: 0px 20px 4px 20px;
}
.inputMain {
}
.add-main {
  display: flex;
}
